<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="authenticationProviders" type="SimpleAuthentication.Core.Config.ProviderConfiguration, SimpleAuthentication.Core" />
  </configSections>
  <appSettings>
    <add key="owin:AutomaticAppStartup" value="false" />
    <add key="RAVENHQ_URI" value="https://ibis.ravenhq.com/" />
    <add key="RAVENHQ_Database" value="AppHarbor_86ae072a-0eb9-4011-980d-d0ea8a5b103c" />
    <add key="RAVENHQ_APIKEY" value="6d0e1a36-4a03-4ad7-b92c-3a39ff59f496" />
    <!--<add key="owin:HandleAllRequests" value="true" />-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true"></modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Host.SystemWeb" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <authenticationProviders>
    <providers>
      <add name="Facebook" key="please-enter-your-real-value" secret="please-enter-your-real-value" />
      <add name="Google" key="please-enter-your-real-value" secret="please-enter-your-real-value" />
      <add name="Twitter" key="19231320-sY8G36nyVFY6IVEzjohaSr0cYvasuErmPYahurw74" secret="B5BC7g3yc4PwLN7N6j4tRdrG5StcTEj5gxOL6WcCvo" />
      <add name="WindowsLive" key="please-enter-your-real-value" secret="please-enter-your-real-value" />
      <add name="GitHub" key="83c57600464d3324b410" secret="7543a08ee15f07ad90aa7ff26004583ed320e915" />
    </providers>
  </authenticationProviders>
</configuration>